%h1 Listing monsters

%table
  %thead
    %tr
      %th Name
      %th Type
      %th A
      %th D
      %th H
      %th E
      %th L
      %th
      %th
      %th

  %tbody
    - @monsters.each do |monster|
      %tr
        %td= monster.name
        %td= monster.monstertype
        %td= monster.atk
        %td= monster.def
        %td= monster.hp
        %td= monster.exp
        %td= monster.lvl
        %td= link_to 'Show', monster
        %td= link_to 'Edit', edit_monster_path(monster)
        %td= link_to 'Destroy', monster, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Monster', new_monster_path
