%h1 Listing maps

%table
  %thead
    %tr
      %th Name
      %th Type
      %th Size
      %th
      %th
      %th

  %tbody
    - @maps.each do |map|
      %tr
        %td= map.name
        %td= map.type
        %td= map.size
        %td= link_to 'Show', map
        %td= link_to 'Edit', edit_map_path(map)
        %td= link_to 'Destroy', map, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Map', new_map_path
