/-@battles = @user.battles
-@battles = Kaminari.paginate_array(@user.battles.order(updated_at: :desc), total_count: @user.battles.count ).page(params[:page]).per(5)
%table.table
  %tr
    %th.col-md-1
      Name
    %th.col-md-1
      Type
    %th.col-md-1
      Time
    %th.col-md-1
      Status
  - @battles.each do |battle|
    - monster = JSON.load battle.monsterBefore
    - if monster 
      %tr
        %td
          = link_to monster["name"],battle
        %td
          = monster["monstertype"]
        %td
          = battle.updated_at
        %td
          = battle.status
= paginate @battles, :theme => 'twitter-bootstrap-3'
