%table{style: "margin:4em 0 2em 2em"}
  %tr
    %td
      = f.label :name, "Name"
    %td
      = f.text_field :name
  %tr
    %td
      = f.label :atk, "a"
    %td
      = f.text_field :atk
  %tr
    %td
      = f.label :def, "d"
    %td
      = f.text_field :def
  %tr
    %td
      = f.label :hp, "hp"
    %td
      = f.text_field :hp
  %tr
    %td
      = f.label :ap, "ap"
    %td
      = f.text_field :ap
  %tr
    %td
      = f.label :exp, "ex"
    %td
      = f.text_field :exp
  %tr
    %td
      = f.label :lvl, "lv"
    %td
      = f.text_field :lvl
