%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Beta
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown
          = link_to user_index_path, :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' do
            Users 
            <b class="caret"></b>
          %ul.dropdown-menu
            - User.all.each do |user|
              %li
                = link_to user.name , edit_user_path(user.id)
      %ul.nav.navbar-nav
        %li.dropdown
          = link_to maps_path, :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' do
            Maps 
            <b class="caret"></b>
          %ul.dropdown-menu
            - Map.all.each do |map|
              %li
                = link_to map.name , map_path(map.id)
      %ul.nav.navbar-nav.navbar-right
        %li
          = render 'layouts/user'
